<%- include ../partials/header.ejs %>

<%- include ../partials/top_nav.ejs %>
 
<main class="container">
    <form class="form" method="POST">
        <div class="form-group"><br><br>
          <label for="cfirstname">First Name:</label>
          <input type="text" class="form-control" id="cfirstname" name="cfirstname">
        </div><br>
        <div class="form-group">
            <label for="clastname">Last Name:</label>
            <input type="text" class="form-control" id="clastname" name="clastname">
        </div><br>
        <div class="form-group">
            <label for="contact">Contact:</label>
            <input type="number" class="form-control" id="contact" name="contact">
        </div><br>
        <div class="form-group">
            <label for="cemail">Email:</label>
            <input type="text" class="form-control" id="cemail" name="cemail">
        </div><br>
        <div class="form-group">
            <label for="cmessage">Message:</label>
            <textarea class="form-control" id="cmessage" name="cmessage" rows="3"></textarea>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary" onclick="alert('Your message has been sent!')">Submit</button>
    </form>
</main>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
