<%- include ../partials/header.ejs %>

<%- include ../partials/top_nav.ejs %>
 
<main class="container">
    <br>
    <a href="/contacts/add" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Contact Me</a>
    <br><br>
    <h2>My Contact</h2>
    <div class="contact-info">
      <p>Feel free to call or click "Contact Me" to drop me a message!</p>
      <p>Phone: +1 (647) 234 5678</p><br>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>


