<%- include ../partials/header.ejs %>

<%- include ../partials/top_nav.ejs %>
 
<main class="container">
    <br>
    <br><br>
    <h2>My Contact</h2><br>
    <div class="contact-info">
      <p>Phone: +1 (647) 234 5678</p>
      <p>Email: lkysammi@gmail.com</p>
      <p>Feel free to call or click <b>Contact Me</b> to drop me a message!</p><br>
      <a href="/contacts/add" class="btn btn-primary">Contact Me</a>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>


