 <!-- Top Navigation Bar -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img class="navbar-brand" src="/images/logo.png" alt=mylogo>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home"><i class="fa-solid fa-house"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about"><i class="fa-solid fa-face-smile"></i> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contacts"><i class="fa-solid fa-envelope"></i> Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/projects"><i class="fa-solid fa-file"></i> Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/service"><i class="fa-solid fa-handshake"></i> Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/products"><i class="fa-solid fa-box-open"></i> Product</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

